/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
	
}

a{
	text-decoration-line: none
}

div{
	background-color:rgb(255, 255, 255);
	padding:10px;
	border:2px solid black;
	border-radius:7px;
	
}
h1,h2{
	text-align:center;
}
li{
	list-style-type:none;
}

.player_one{
	height:500px;
	width:80%;
	position:center;
	padding-left:100px;
	background-color:rgb(255, 255, 255);
}

.player_two{
	width:80%;
	position:center;
	padding-left:50px;
	background-color:rgb(255, 255, 255);
}